.sildebar--item{
    font-size: 17px;
    font-weight: 600;
    padding: 10px 0 10px 40px;
    cursor: pointer;
}
.container_account{
    padding: 20px;
    margin-bottom:15px;
    background-color: white;
    background-color: white;box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}
.title{
    font-size:22px;
    font-weight:600;
}
.account_information{
    padding-top: 30px;
}
.information--item{
    display:flex;
    column-gap: 30px;
    padding: 8px 0;
    font-size: 17px;
    align-items: center;
}
.label-item{
    font-weight: 600;
}
.fas.fa-pen-square.edit{
    display:none;
}
.item-edit{
    cursor: pointer;
}
.item-edit:hover > .fas.fa-pen-square.edit{
    display:inline-block;
}
.input-text{
    padding: 5px 5px;
    font-size:17px;
    width: 280px;
    border: 1px solid black;
}
.input-text:focus{
    outline: none;
}
.icon{
    font-size:18px;
}
.edit.hide{
    display:none !important;
}
.btn-account{
    padding: 5px 10px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}
.save{
    background:black;
    color: white;
    margin-right: 5px;
}
.container-btn{
    display: none;
}
.change_password{
    cursor: pointer;
}
.information--item__changepassword{
    display: flex;
    column-gap: 30px;
    padding: 8px 0;
    font-size: 17px;
}
.text-password{
    padding: 5px 5px;
    font-size:17px;
    display: block;
    margin: 8px 0;
    width: 280px;
    border-radius: 2px;
    border: 1px solid black;
}
.text-password:focus{
    outline: none;
}
.container_change_password{
    display: none;
}
#error{
    color: rgb(179, 15, 15);
}
.sildebar--item a{
    color: black;
    display: block;
}
.empty_order{
    height: 150px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:25px;
}
.order-id{
    font-size:18px;
    font-weight:bold;
}
.btn_status{
    font-size:18px;
    font-weight: bold;
}
.btn_process{
    color: orangered
}
.btn_delivery{
    color: blue;
}
.btn_success{
    color: green;
}
.order-item{
    padding:5px 0;
    border-bottom: 1px solid lightgray;
}
.order-item:last-child{
    border:none;
}
.sum_order{
    
    text-align: right;
}
.price{
    font-size:21px;
    font-weight: 600;
}
.item{
    margin-top:5px;
}
.btn_wait{
    color: orangered;
}
.paymented{
    color: green;
}
.pay-item{
    font-weight: 600;
}
.paying{
    color: red;
}