.banner{
    width: 100%;
    display: block;
    overflow: hidden;
}
.banner:hover img{
    opacity: 0.8;
    transform: scale3d(1.05, 1.05, 1);
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: transform ease .3s;
}
.category_name{
    background-color: black;
    color: white;
    display: inline-block;
    min-width: 160px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 600;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.product_list{
    margin-top: 30px;
}
.product_content{
    border-top: 1px solid black;
    min-height: 200px;
    margin-bottom: 30px;
    padding-top: 20px;
}
.product_information{
    margin: 10px 0;
}
.product_name{
    font-weight: 700;
}
.product_price{
    font-weight: 700;
    color: red;
}
.product_id{
    font-weight: 500;
}
.icon_star{
    color: orange;
}
.view_all{
    font-weight: 700;
    cursor: pointer;
}
.view_all a{
    color: black;
    text-decoration: none;
}
.product_img{
    width: 100%;
    overflow: hidden;
}
.product_information{
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px;
    position: relative;
}
.product_information:hover{
    border: 1px solid rgb(73, 55, 55);
}
.product_information:hover img{
    transform: scale3d(1.05, 1.05, 1);
    transition:  transform linear .2s;
}
.product_information:hover .btn_buy_product{
    display: block;
}
.like_product{
    position: absolute;
    top: 10px;
    right: 16px;
    z-index: 4;
}
.buy_product{
    margin-top: 14px;
}
.btn_buy_product{
    border: none;
    padding: 5px 15px;
    background-color: black;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    display: none;
}
a.link_product{
    color: black;
    text-decoration: none;
}
