*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Source Sans Pro;
}
.container_navbar{
    border-bottom: 1px solid lightgray;
}
.container_content{
    padding: 20px 0;
}
.navbar{
    margin: 15px 0;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.navbar a{
    color: black;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.store_name a{
    color: white;
}
::placeholder{
    font-style: italic;
}
.header{
    color: white;
    /* background: linear-gradient(315deg, rgba(53,197,198,1) 0%, rgba(51,168,169,1) 16%, rgba(0,0,0,1) 100%); */
    background: black;
}
a.list_item:hover{
    text-decoration: none;
    color: white;
}
ul{
    list-style-type: none;
    margin: 0 !important;
}
.navbar_header--item ul{
    display: flex;
}
.navbar_header{
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}
.store_name{
    font-weight: 600;
}
.child-item{
    padding: 0 15px;
}
.first_child{
    padding-left: 0;
    padding-right: 15px;
    position: relative;
}
.last_child{
    padding-left: 15px;
    padding-right: 0px;
    position: relative;
    cursor: pointer;
}
.first_child::after{
    content: "";
    position: absolute;
    border-right: 2px solid white;
    width: 100px;
    height: 20px;
    display: block;
    top: 3px;
    right: 0;
}
.fb_link{
    margin: 0 5px;
}
.header_center{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-header{
    font-size: 25px;
}
.logo_name{
    position: relative;
    border-bottom: 1px solid white;
    left: 5px;
    top: -15px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}
.hotline{
    display: flex;
    align-items: center;
}
.hotline_title{
    font-size: 14px;
}
.search{
    margin-left: 150px;
    position: relative;
}
#search_product{
    width: 550px;
    flex: 1;
    padding: 6px 55px 6px 20px ;
    font-size: 16px;
    border-radius: 25px;
    height: 36px;
    border: none;
}
#search_product:focus{
    outline: none;
}
#btn_search{
   padding:10px 10px;
   position: relative;
   left: -55px;
   height: 36px;
   top: -1px;
   border: none;
   width: 50px;
   border-bottom-right-radius: 25px;
   border-top-right-radius: 25px;
   border-left: 1px solid black;
}
#btn_search:focus{
    outline: none;
}
#btn_search:hover{
    cursor: pointer;
}
.list_content ul{
    display: flex;
    align-items: center;
    margin: 0 !important;
}
.list_item{
    text-transform: uppercase;
    font-weight: 600;
    padding: 13px 34px;
    width: 100%;
    display: block;
}
.list_item:hover{
    background-color: rgb(90, 90, 90);
}
.cart{
    position: relative;
}
.container_cart{
    position: absolute;
    width: 400px;
    min-height: 100px;
    max-height: 700px;
    background-color: white;
    z-index: 4;
    left: -360px;
    top: 50px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
    animation: fade linear 0.2s;
    transform-origin: top right;
    display: none;
    color: black;
    padding: 5px 15px 15px;
}
.container_cart .cart_header--title{
    display: flex;
    justify-content: start;
    width: 100%;
    font-weight: 600;
    font-size: 17px;
    padding: 10px 0 15px;
    border-bottom: 1px solid gray;
}
.cart::after{
    content: "";
    width: 70px;
    height: 30px;
    position: absolute;
    background-color: transparent;          
    bottom:-30px;
    left: -30px;
}
.container_cart::after{
    content: "";
    position: absolute;
    border: 15px solid;
    border-color: transparent transparent white transparent;
    top: -30px;
    right: 8px;
}
.content_cart{
    min-height: 100px;
    max-height: 350px;
    overflow: auto;
    width: 100%;
}
.container_cart .product_cart--item{
    display: flex;
    column-gap: 10px;
    margin: 5px 0;
    padding-top: 5px;
    border-top: 1px solid lightgray;
    justify-content: space-between;
}
.product_cart--item:first-child{
    border: none;
}
.product_cart--item__infor{
    font-size: 14px;
    position: relative;
    flex: 1;
}
.cart_product--price{
    padding-top: 3px;
    font-size: 14px;
    font-weight: 600;
}
.cart_product--delete{
    position: absolute;
    top: 0;right: 0;
    color: gray;
    cursor: pointer;
}
.button_cart{
    width: 100%;
}
.button_cart--item{
    display: block;
    width: 100%;
    text-align: center;
    padding: 7px 0;
    border-radius: 3px;
}
.pay_now{
    background-color: black;
}
.go_cart{
    margin-top: 5px;
    background-color: gray;
}
.container_cart .sum_money_cart{
    margin: 5px 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}
.button_cart--item:hover{
    opacity: 0.8;
}
.cart_product--quantity{
    margin-top: 5px;
    display: flex;

}
.btn_cart_quantity{
    border: 1px solid gray;
    background-color: transparent;
    padding: 0 5px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    width: 25px;
}
.value_cart_product--quantity{
    width: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
    font-weight: 700;
}
.value_cart_product--quantity:focus{
    outline: none;
}
.cart:hover .container_cart{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    color: white;
    text-decoration: none;
}
.list_category{
    background: rgb(136,139,139);
    background: linear-gradient(305deg, rgba(136,139,139,1) 21%, rgba(97,97,97,1) 67%, rgba(0,0,0,1) 100%, rgba(75,75,75,1) 100%);
    box-shadow: 1px 3px 1px 1px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
}
.map{
    position: fixed;
    top: 0;right: 0;bottom: 0;left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 5;
    display: none;
}
.map.show_map{
    display: flex;
}
.map_content{
    margin: auto;
    position: relative;
    z-index: 10;
    animation: fade linear .2s;
}
@keyframes fade{
    from{
        transform: scale(0);
    }to{
        transform: scale(1);
    }
}
.map_content iframe{
    width: 1450px;
    height: 640px;
}
.btn_map{
    cursor: pointer;
}
.btn_exit{
    position: absolute;
    top: 10px;
    right: 15px;
}
.icon_exit{
    font-size: 28px;
}
.over_flow{
    overflow: hidden;
}
.login{
    position: relative;
    display: none;
}
.btn_login_user{
    cursor:pointer;
}
.login.show_login{
    display: block;
}
.login_container,.forget_container ,.register_container{
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 5;
}
.login_content{
    position: fixed;
    width: 600px;
    min-height: 500px;
    background-color: white;
    z-index: 6;
    left: calc((100% - 600px)/2);
    top: calc((100% - 500px)/2);
    padding:30px;
    border-radius: 3px;
    animation: fade linear 0.2s;
}
.register_content{
    height: 600px;
    top: calc((100% - 600px)/2);
}
.login_content--header a{
    color: black;
}
.login_content--header img{
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 3px 2px 1px 1px rgba(0,0,0,0.8);
}
.login_content--header .logo_name{
    border-bottom: 1px solid black;
    box-shadow: 3px 2px 1px 1px rgba(0,0,0,0.4);
    left: -10px;
    padding: 0 10px 0 15px;
}
.login_content--header{
    display: flex;
    align-items: center;
}
.text_title{
    font-size: 30px;
    text-transform: uppercase;
    flex: 1;
    text-align: center;
    font-weight: 700;
}
.login_content--form{
    margin-top: 20px;
}
.label_login{
    font-size: 20px;
    font-weight: 600;
}
.login_content--form{
    padding: 0 20px;
}
.form--item{
    margin-bottom: 10px;
}
.from--input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    font-size: 17px;
    padding: 0px 30px 10px 10px;
}
.container--input{
    padding-top: 10px;
    position: relative;
}
.from--input:focus{
    outline: none;
}
.show_password{
    position: absolute;
    top: 20px;right: 0;
}
.show_password label{
    cursor: pointer;
}
.btn_login{
    margin-top: 10px;
    width: 100%;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 2px;
}
.btn_login:hover{
    opacity: 0.8;
}
.btn_login:focus{
    outline: none;
}
.remember_login{
    margin-top: 10px;
    font-style: italic;
}
.sublite_form_login{
    margin: 10px 0;
    font-style: italic;
}
#error_login, #error_forget{
    color: red;
    padding-top: 5px;
    font-style: italic;
    font-size: 16px;
}
.forget_password .login_content{
    min-height: 400px;
    top: calc((100% - 400px)/2);
}
.forget_password{
    display: none;
}
.register_user{
    display: none;
}
.register_user.show_register_user{
    display: block;
}
.forget_password.show_forget_password{
    display: block;
}
.text_forget_password ,.text_login_user,.text_register_user{
    cursor: pointer;
}
.btn_click{
    opacity: 0.6;
}
.container_user_logined{
    position: absolute;
    background-color: white;
    z-index: 5;
    display: none;
    top: 40px;
    left: 1px;
    width: 200px;
    transform-origin: 50% top;
    animation: fade_user linear.15s;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.7);
}
.container_user_logined--item{
    color: black;
    min-height: 38px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-weight: 600;
}
.container_user_logined ul{
    display: block;
}
@keyframes fade_user{
    from{
        transform: scale(0);
    }to{
        transform: scale(1);
    }
}
.container_user_logined::before{
    content: "";
    position: absolute;
    border: 15px solid;
    border-color: transparent transparent white transparent;
    top: -29px;
    left: 80px;
}
.child-item__user:hover .container_user_logined{
    display: block;
}
.child-item__user::after{
    content: "";
    width: 165px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    left: 13px;
    top: 21px;
}
.container_user_logined--item:hover{
    background-color: lightgray;
}
.invalid-feedback{
    font-style: italic;
    color: red;
    font-size: 13px;
}
.register_user .sublite_form_login{
    margin: 0px;
}
.btn_register{
    margin-bottom: 10px;
}
.btn_back_top{
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 60px;
    height: 60px;
    font-size: 25px;
    background: black;
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}
.btn_back_top:focus{
    outline: none;
}
.container_search_product{
    position: absolute;
    width: 550px;
    background-color: white;
    color: black;
    border-radius: 3px;
    z-index: 3;
    top: 60px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}
.container_search_product::before{
    content: "";
    position: absolute;
    border: 20px solid;
    top: -40px;
    border-color: transparent transparent white transparent;
    left: 50%;
    transform: translateX(-50%);
}
.search_product--heaeder{
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid lightgray;
}
.search_product--content{
    min-height: 120px;
    overflow: auto;
    max-height: 400px;
}
.search_product--item{
    padding: 5px 20px;
    display: block;
    color: black;
    display: flex;
    column-gap: 10px;
}
.search_product--item:hover{
    background-color: rgb(241, 241, 241);
}
.search_product--name{
    font-weight: 600;
    font-size: 16px; 
}
.search_product--price{
    font-weight: 700;
    color: red;
    padding: 3px 0;
}
.icon_star{
    color: orange;
}
.search_no{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 18px;
    font-weight: 500;
}
.quantity_cart{
    position: absolute;
    width: 25px;
    background-color: white;
    color: black;
    text-align: center;
    font-weight: 700;
    border-radius: 50%;
    top: -10px;
    left: 18px;
    border: 1px solid black;
    text-align: center;
}
.cart_empty{
    color: black;
    font-weight: 600;
}
.disable{
    opacity: 0.5;
}