.cart:hover .container_cart{
    display:none !important;
}
.text-tile{
    font-size:30px;
    font-weight:bold;
    text-transform:uppercase;
}
.input-delivery{
    width: 100%;
    border:1px solid #767677;
    padding: 10px;
    height:50px;
    font-size:18px;
}
.input-delivery:focus{
    outline: none;
}
.label-title{
    padding:20px 0 5px;
    font-size:18px;
    font-weight: 500;
}
.select2-container--default .select2-selection--single{
    border-radius: 0 !important;
    border: 1px solid #767677 !important;
}
.select2-container .select2-selection--single{
    height:50px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height:50px !important;
    color: black !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 13px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    font-size:18px;
}
#zipcode::placeholder{
    color: #767677 !important;
    font-style: normal;
}
#name::placeholder,#toanha::placeholder,#sonha::placeholder{
    font-size: 16px;
}
.cart__product--item{
    display: flex;
    margin: 10px 0;
    column-gap: 10px;
}
.cart__product--name{
    text-transform: uppercase;
    padding-bottom: 5px;
}
.cart__product--sumMoney{
    padding-top: 5px;
    font-size: 17px;
    font-weight:505;
}
.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* Create a custom checkbox */
  .checkmark,.checkmark_radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid black;
  }
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark,.container:hover input ~ .checkmark_radio {
    background-color: #ccc;
  }
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark,  .container input:checked ~ .checkmark_radio {
    background-color: black;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after,.checkmark_radio:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after,.container input:checked ~ .checkmark_radio:after {
    display: block;
  }
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .checkmark_radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  .container .checkmark_radio:after {
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
.error{
    display: block;
    padding-top: 10px;
    font-size:16px !important;
    color: rgb(207, 24, 24) !important;
}
.is-invalid{
    border: 1px solid rgb(207, 24, 24);
}
.location{
    display:flex;
    margin-top: 20px;
    column-gap: 10px;
} 
#receive{
    font-size: 18px;
    margin-top:20px;
    margin-left: 37px;
    display:none;
}
#card{
    margin:0 37px;
    display:none;
}
.payment{
    text-transform: uppercase;
}
.checked_radio{
    font-weight: bold;
}