.icon_navbar{
    position: relative;
    top: 2px;
}
.logo .logo_name{
    top: -15px;
}
.footer__footer--logo .text_logo--name{
    top: -9px;
}
.product_img_container .slick-prev{
    left: 20px;
    right: 0 !important;
}
.product_img_container .slick-next{
    right: 20px !important;
}
.product_img{
    width: 100% !important;
}
.img_product--item{
    width: 100%;
    margin: 5px;
}
.slick-prev:before, .slick-next:before{
    color: silver !important;
    box-shadow: 1px 1px 1px 1px rgb(146, 146, 146);
    border-radius: 100%;
    font-size: 40px;
    border: 1px solid black;
}
.img_product--item.check_view{
    opacity: 0.5;
}
.icon_star{
    color: orange;
}
.product_name{
    font-size: 25px;
    font-weight: 600;
}
.product_item{
    margin: 5px 0;
}
.product_price{
    font-size: 30px;
    font-weight: 500;
}
.product_id{
    display: flex;
    column-gap: 20px;
}
.sku{
    position: relative;
}
.sku::after{
    content: "";
    width: 2px;
    height: 17px;
    top: 3px;
    right: -10px;
    background-color: black;
    position: absolute;
}
.con{
    font-weight: 500;
    color: green;
    font-size: 17px;
}
.het{
    font-weight: 500;
    color: red;
    font-size: 17px;
}
.container_sale{
    margin: 5px 0;
    font-size: 13px;
    border: 1px solid silver;
    padding: 10px;
    border-radius: 4px;
}
.product_quantity{
    margin: 15px 0 10px;
}
#result_check_quantity{
    margin-bottom: 10px;
    font-style: italic;
    color: red;
}
.btn_quantity{
    padding: 5px;
    min-width: 40px;
    height: 40px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    cursor: pointer;
}
.btn_quantity:focus{
    outline: none;
}
.value_quantity{
    text-align: center;
    width: 50px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    font-size: 20px;
    font-weight: 700;
}
.value_quantity:focus{
    outline: none;
}
.buy_product{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buy_title{
    font-size: 16px;
    text-transform: uppercase;
}
.buy_sublite{
    font-size: 13px;
}
.buy_product--item{
    color: white;
    text-align: center;
    background-color: black;
    padding: 5px 12px;
    cursor: pointer;
}
.related_products--header{
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
.container_product_like--item{
    border: 1px solid black;
}
.container_product_like--item a{
    color: black;
}
.product_like--item{
    display: flex;
    column-gap: 10px;
    margin: 5px;
}
.product_name_like{
    font-weight: 600;
    font-size: 15px;
}
.product_price_like{
    font-size: 14px;
    color: red;   
}
.review_product{
    margin-top: 20px;
}
.review_product section:last-child{
    margin-top: 15px;
}
.product_like--item:hover{
    opacity: 0.7;
}
.review_product ul{
    list-style-type: none !important;
}

.review_product img{
    margin: 10px 0;
}
.same_kind_product .slick-prev{
    left: 30px !important;
}
.same_kind_product .slick-next {
    right: 30px !important;
}
.same_kind_product--item{
    margin: 0 5px;
    padding: 5px;
    border: 1px solid transparent;
}
.skp_img{
    overflow: hidden;
    width: 100%;
    display: block;
}
.same_kind_product--item:hover img{
    transform: scale3d(1.05, 1.05, 1);
    opacity: 0.8;
    transition: transform linear 0.3s;
    overflow: hidden;
}
.same_kind_product--item:hover{
    border: 1px solid black;
}
.skp_name{
    font-weight: 700;
}
.container_same_kind_product{
    margin-top: 20px;
}
.same_kind_product{
    border-top: 1px solid black;
    padding-top: 20px;
}
.same_kind_product a{
    color: black;
}
.same_kind_product--header{
    background-color: black;
    color: white;
    display: inline-block;
    min-width: 160px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 600;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;   
}
.container_buy_now{
    position: fixed;
    top: 0;right: 0;
    left: 0;bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 5;
    display: flex;
    
}
.content_buy_now{
    margin: auto;
    position: relative;
    background-color: white;
    width: 900px;
    z-index: 6;
    animation: fade linear 0.25s;
    border-radius: 3px;
}
.buy_now-header{
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
    background: rgb(136,139,139);
    background: linear-gradient(305deg, rgba(136,139,139,1) 21%, rgba(97,97,97,1) 67%, rgba(0,0,0,1) 100%, rgba(75,75,75,1) 100%);
    color: white;
}
.list_product_cart{
    margin: 10px 20px;
    overflow: auto;
    min-height: 150px;
    max-height: 500px;
}
.product_cart--infor{
    margin-left: 10px;
    width: 350px;
}
.product_cart--name{
    font-weight: 600;
    font-size: 20px;
}
.list_product_cart--item{
    display: flex;
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid lightgray;
}
.money{
    position: relative;
    top: 0px;
    width: 210px;
    text-align: right;
}
.list_product_cart .cart_product--quantity{
    margin: 0 20px;
}
.list_product_cart .cart_product--delete{
    right: -70px;
}
.buy_now_sum-money{
    margin: 10px 20px;
    text-align: right;
    font-size: 22px;
}
.buy_now--button{
    display: flex;
    justify-content: end;
    margin: 10px 20px 20px;
    column-gap: 10px;
}
.buy_now--button__item{
    background-color: black;
    width: 250px;
    padding: 8px 0;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}
.continue_buy{
    background-color: lightgray;
}