.container_cart_empty{
    display: flex;
    width: 100%;
    min-height: 300px;
}
.cart_empty{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn_comeback_home{
    background-color: black;
    width: 180px;
    display: block;
    text-align: center;
    padding: 10px 0;
    box-shadow: 4px 4px 1px 1px rgb(0, 0, 0,0.2);
}
.icon_cart_empty{
    font-size: 100px;
    position: relative;
    left: -5px;
}
.cart_empty--text{
    font-size: 20px;
    margin: 10px 0;
}
.cart:hover .container_cart{
    display: none !important;
}
.cart__product--container{
    margin-bottom: 20px;
}
.cart__product--header{
    margin: 20px 0;
    font-size: 18px;
    font-weight: 600;
}
.icon_next{
    position: relative;
    top: 2px;
}
.cart__product--item{
    display: flex;
    padding:10px;
    margin: 5px 0;
    border: 1px solid lightgray;
    position: relative;
}
.cart__product--item .cart_product--delete{
    top: 10px;
    right: 10px
}
.cart__product--name{
    font-weight: 700;
}
.cart__product--price{
    padding-top: 3px;
}
.cart__product--infor{
    width: 250px;
    margin: 0 10px;
}
.cart__product--sumMoney{
    position: relative;
    top: 5px;
    left: 20px;
}
.cart__product--pay{
    margin-top: 10px;
    margin-left: 30px;
    border: 1px solid black;
    min-height: 180px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}
.cart__pay--sumQuantity{
    font-size: 17px;
}
.cart__pay--sumMoney{
    padding-top: 5px;
    font-size: 17px;
}
.cart__pay--header{
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
   background: black;
    color: white;
    border-radius: 3px;
}
.cart__pay--item{
    padding: 10px 70px;
    font-size: 17px;
    font-weight: 600;
}
.cart__pay--buy_now{
    width: 95%;
    margin: 10px 10px;
    padding: 7px 0;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    background: rgb(136,139,139);
    background: linear-gradient(305deg, rgba(136,139,139,1) 21%, rgba(97,97,97,1) 67%, rgba(0,0,0,1) 100%, rgba(75,75,75,1) 100%);
}